<!DOCTYPE html>
{% extends 'student/index.html' %}

{% block index %}

<div class='container' align='center' >
  <h1>student list</h1>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Roll</th>
        </tr>
      </thead>
      <tbody>
        {% for student in list %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{student.name | title}}</td>
          <td>{{student.roll}}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  {% csrf_token%}
</div>

<h1>counter: {{count}}</h1>

{% endblock %}